body {
  color: #fcba03;
}

section {
  margin-top: 0;
  margin-bottom: 0;
}

.jumbotron{
  margin: 0;
}

.header {
  /* opacity: 0.5; */
  background: linear-gradient(
      to top,
      rgb(44, 44, 54) 0%,
      rgba(37, 39, 44, 0.52) 62%,
      rgba(34, 37, 39, 0.99) 100%
    ),
    url("./images/house-dream.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  background-color: transparent;
  position: fixed;
}

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-weight: bold;
  text-align: center;
  color: #fcba03;
}

.subtitle{
  font-weight: 300;
  text-align: center;
  color: #343A40;
}

.howItWorks h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.howItWorks p{
  padding: 20px 20px;
  text-align: center;
}

.about img{
  /* max-width: 375px; */
  width: 100%;
}

.pitch{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pitch p{
  max-width: 60%;
  text-align: left;
}

.testimonial img{
  width: 100px;
  border-radius: 50%;
}

form input {
  width: 100%;
}
