body {
  color: #fcba03;
}

section {
  margin-top: 0;
  margin-bottom: 0;
}

.jumbotron {
  margin: 0;
}

.header {
  /* opacity: 0.5; */
  background: linear-gradient(
      to top,
      rgb(44, 44, 54) 0%,
      rgba(37, 39, 44, 0.52) 62%,
      rgba(34, 37, 39, 0.99) 100%
    ),
    url("./images/house-dream.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  background-color: transparent;
  position: fixed;
}

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  color: #fcba03;
}

.subtitle {
  font-weight: 300;
  text-align: center;
  color: #343a40;
}

.howItWorks h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.howItWorks p {
  padding: 20px 20px;
  text-align: center;
}

.about img {
  /* max-width: 375px; */
  width: 100%;
}

.pitch {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .pitch h1{
  text-transform: capitalize;
} */

.pitch p {
  max-width: 60%;
  text-align: left;
}

.service {
  padding-top: 20px;
  padding-bottom: 20px;
}

.service p {
  margin-top: 1.9rem;
  line-height: 2em;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonial p {
  padding: 20px 30px;
}

form input {
  width: 100%;
}
