body {
  color: #fcba03;
}

body img{
    width: 100px;
    border-radius: 50%;
}

.header {
  opacity: 0.5;
  background-image: url("./images/house-dream.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  background-color: transparent;
  position: fixed;
}

.title {
  font-weight: bold;
  margin: auto;
}


form input{
    width: 100%;

}